extends layout
block content
  .container-fluid
    .row
      .col-sm-2.pt-5.border-right
        ul.nav.flex-column
          li.nav-item
            a.nav-link.text-secondary(href='#overview') Overview
          li.nav-item
            a.nav-link.text-secondary(href='#logFile') Log File
          li.nav-item
            a.nav-link.text-secondary(href='#requirementsFile') Requirements File
          li.nav-item
            a.nav-link.text-secondary(href='#trusslogLangauge') TrussLog Language
          li.nav-item
            a.nav-link.text-secondary(href='#trusslogLangauge') TrussLog Semantics
      .col-sm-8.py-5.px-5.min-vh-100
        div.alert.alert-danger
          | This documentation is still a work in progress.

        //Overview
        div.py-2(id="overview")
          h3.pb-2 Overview
          p Trusslog is a tool that takes as input:
            ul
              li a file consisting of flight log data of a drone and,
              li a requirements file, which specifies constraints that the done has to satisfy for
              | the entirety of its mission.

        //Log File
        hr.py-3
        div.py-2(id="logFile")
          h3.pb-2 Log File
          p
            | A log file consists of a series of log entries that follow the syntax below.
          p Note: Italicized text represent variables. Unitalicized text are reserved symbols.
          strong Syntax
          br
          code log(<var>timepoint</var>, [val(<var>property</var>, <var>propertyValue</var>), . . .]).
          br
          br
          strong Example
          span.ml-1 A single log entry for timepoint 1 and two properties  altitude and camera.
          blockquote.mt-1
            code log(1, [val(altitude, 5), val(camera, off)]).
          strong Example
          span.ml-1 A list of log entries
          blockquote.mt-1
            code log(1, [val(altitude, 5), val(camera, off)]).
            br
            code log(2, [val(altitude, 10), val(camera, off)]).

        //Requirements File
        hr.py-3
        div.py-2(id="requirementsFile")
          h3.pb-2 Requirements File
          p
            | A requirements file consists of a series of requirements that follow the syntax below.
          strong Syntax
          req(
            test1,
            critical,
            holdsAt(1, [
              value(altitude, 50),
              value(location, 3, 4)
            ])
          ).
          br
          code req(<var>Requirement Name</var>, <var>Prority Level</var>, <var>Temporal Formula</var>).
          br
          br

          //Example
          strong Example
          span.ml-1
            | Let us create a requirement called <em>test1</em> and that is of priority level <em>critical</em>.
            | Furthermore, let us require that the altitude is 50 and location is (3,4) at timepoint 1.
            | Since we are specifying a particular timepoint, we use the <em>holds</em> temporal operator.
            | Note the use of the <em>val</em> symbol.
          blockquote.mt-1
            code req(test1, critical, holds(1,[val(altitude, 50), val(location, 3,4)])).

          //Example
          strong Example
          span.ml-1
            | Let us take the requirement above but now instead say that altitude can be between 10 and 50.
            | We use the <em>range</em> symbol for that.
          blockquote.mt-1
            code req(test1, critical, holds(1,[range(altitude, 10, 50), value(location, 3,4)])).

        //TrussLog Formulas
        hr.py-3
        div.py-2(id="trusslogLangauge")
          h3 TrussLog Language
          hr
          h5 Base Formulas  \(\psi \)
          ul
            li
              | \(\psi: true\)

            li
              | \(\psi: value(Property, Value)\)
            li
              |  \(value(Property, Value1, Value2)\)
              | :
              | This formula is used for location.
            li
              | \([\psi_1, \psi_2, \dots]\)  (conjunction)
            li
              | or\( (\psi_1, \psi_2) \)  (disjunction)
            li
              | ifthen\( (\psi_1, \psi_2) \)  (implication)
          // specific temporal formulas
          h5 Time-Specific Temporal Operators
          ul
            li
              | \(holds(T, \psi)\)
              | :
              | \(\psi\) holds at timepoint T.
          // standard temporal formulas
          h5 Standard Temporal Operators
          ul
            li
              | \(next(\psi, \phi)\)
              | :
              | If \(\psi\) is true at some timepoint \(T\),
              | then \(\phi\) is true at the next time point \(T+1\).
            li
              | \(always(\psi, \phi)\)
              | :
              | If \(\psi\) is true at some point in time timepoint \(T\),
              | then \(\phi\) is true in all timepoints \(T' \geq T\).
            li
              | \(eventually(\psi, \phi)\)
              | :
              | If \(\psi\) is true at some point in time timepoint \(T\),
              | then \(\phi\) is true at some timepoint \(T' \geq T\).
          // caveat
          h3.badge.badge-danger Caveat
          p
            | Though formulas with both \(holds(T, \psi)\) and the standard temporal operators
            | are valid TrussLog formulas, it doesn't make sense to mix them and they should be avoided.


        //TrussLog Semantics
        hr.py-3
        div.py-2(id="trusslogSemantics")
        h3 TrussLog Language
        hr
        p
          | The semantics are given the by the log file.
        ul
          li
            | \(holds(T, \psi)\) is true if there is an entry in the logfile
            code
              | &nbsp; log(T, .) &nbsp;
            | where \(\psi\) holds.




block jscript
  script.
    $(document).ready(function(){
    //make navlink active
    $("#navLinkDocumentation").addClass("active");
    })
