extends layout
block content
  .container-fluid
    .row.py-5
      .col-md-4
        .bg-dark.py-2.px-2
          strong.text-warning.display-inline Log
          small.text-secondary &nbsp; flight log details can be entered here
        form
          .form-group
            textarea#logsTextArea.form-control(rows='3')
              | log(dfddf)
      .col-md-4
        .bg-dark.py-2.px-2
          strong.text-warning.display-inline Requirements
          small.text-secondary &nbsp; mission reqs can be entered here
        form
          .form-group
            textarea#missionTextArea.form-control(rows='3')
      .col-md-4
        .bg-dark.py-2.px-2
          strong.text-warning.display-inline Results
          small.text-secondary &nbsp;
        form
          .form-group.bg-dark(style="height:400px")
            textarea#resultsTextArea.form-control(rows='3')
            br
            span.btn.btn-outline-light#btnAnalyse.mx-2(style="width: 120px")
              span Analyse
              span.spinner-border.spinner-border-sm.collapse(role='status', aria-hidden='true')

            span.btn.btn-outline-light#btnReload.mx-2(style="width: 120px")
              span Reload

block jscript
  script.
    $(document).ready(function(){
      //code here...
      var code = $("#logsTextArea")[0];
      var editorLog = CodeMirror.fromTextArea(code, {
        lineNumbers : true,
        theme: "material"
      });
      editorLog.setSize(null, 400)

      //mission reqs area
      var code = $("#missionTextArea")[0];
      var editorMission = CodeMirror.fromTextArea(code, {
        lineNumbers : true,
        theme: "material"
      });
      editorMission.setSize(null, 400)

      //results area
      var code = $("#resultsTextArea")[0];
      var editorResults = CodeMirror.fromTextArea(code, {
        theme: "material",
        readOnly: true
      });
      editorResults.setSize(null, 320)

      //load default data
      loadDefaultLog(editorLog)
      loadDefaultMissionSpecs(editorMission)

      //analyse
      $("#btnAnalyse").click(function(){
        var spans = $(this).find("span")
        $(spans[0]).addClass("collapse")
        $(spans[1]).removeClass("collapse")
        analyseRequirements(editorLog, editorMission, editorResults);
      })

      //reload data
      $("#btnReload").click(function(){
        loadDefaultLog(editorLog)
        loadDefaultMissionSpecs(editorMission)
        editorResults.getDoc().setValue("")
      })


    });

    /*
    * Load Default Log Values
    */
    function loadDefaultLog(editorLog){
    var c = " \
    log(1, [ \n \
      value(altitude, 50), \n \
      value(location, 3, 4),\n \
      value(fuel, 45)\n \
    ]).\n \
    log(2, [ \n \
      value(altitude, 40),\n \
      value(location, 6, 4),\n \
      value(fuel, 45)\n \
    ]).\n \
    log(3, [ \n\
      value(altitude, 45),\n \
      value(location, 6, 4),\n \
      value(fuel, 45)\n \
    ]).\n"

      editorLog.getDoc().setValue(c)
    }


    /*
    * Load Default Mission Reqs
    */
    function loadDefaultMissionSpecs(editorMission){
    var c = "req(  \n \
      test1,  \n \
      critical,  \n \
      holdsAt(1, [  \n \
        value(altitude, 50),  \n \
        value(location, 3, 4)  \n \
      ])  \n \
    ). \n \
    req(  \n \
      test2,  \n \
      critical,  \n \
      holdsAt(2, [  \n \
        range(altitude, 10,50),  \n \
        value(location, 3, 4)  \n \
      ])  \n \
    )."

      editorMission.getDoc().setValue(c)
    }


    /*
    * Analyse
    */

    function analyseRequirements(editorLog, editorMission, editorResults){
      var regex = /[\s]/g

      var log = editorLog.getDoc().getValue();
      log = log.replace(regex,"")

      var mission = editorMission.getDoc().getValue();
      mission = mission.replace(regex,"")

      //space after .
      regex = /[.]/g
      log = log.replace(regex,". ")
      mission = mission.replace(regex,". ")


      var data = {
        log: log,
        mission: mission
      }

      //send ajax request
      $.ajax({
            type: "POST", //rest Type
            dataType: 'json',
            data: JSON.stringify(data),
            url: "/analyze",
            contentType: "application/json; charset=utf-8",
            success: function (result, status) {
                //gui update
                var spans = $("#btnAnalyse").find("span")
                $(spans[0]).removeClass("collapse")
                $(spans[1]).addClass("collapse")

                editorResults.getDoc().setValue(result.data)
            },
            error: function(xhr, textStatus, errorThrown) {
              alert(textStatus)
            }
      });

    }
