extends layout
block content
  .jumbotron.m-5
    h1.display-4 TrussLog
    p.lead
      | A tool for analysing log files to check whether operational requirements are met.
    hr.my-4
    p.text-center
      a.btn.btn-primary.btn-lg.m-3(href='quickstart', role='button') Quickstart
      a.btn.btn-primary.btn-lg.m-3(href='documentation', role='button') Documentation
block jscript
  script.
    $(document).ready(function(){
    //make navlink active
    $("#navLinkHome").addClass("active");
    })
