doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css', integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS', crossorigin='anonymous')
    link(rel='stylesheet', href='codemirrorCSS/codemirror.css')
    link(rel='stylesheet', href='codemirrorTheme/material.css')
    title TrussLog

  body.bg-light
    //content
    .container-fluid.bg-dark
      .row
        .col-12
          nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='/')
              span.mr-1 TrussLog
              //i(data-feather="key")
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item
                  a.nav-link#navLinkHome(href='/')
                    | Home
                    span.sr-only (current)
                li.nav-item
                      a.nav-link#navLinkQuickstart(href='/quickstart') Quickstart
                li.nav-item
                  a.nav-link#navLinkDocumentation(href='/documentation') Documentation

    //block content
    block content


    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS

    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')
    script(src='codemirrorJS/codemirror.js')
    script(src="https://unpkg.com/feather-icons")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML")
    script(src="https://d3js.org/d3.v3.min.js")

    script.
      feather.replace()

    //block javascript
    block jscript
