extends layout
block content
  .container-fluid
    .row.mb-5.pb-5
      //left col
      .col-12.col-sm-2.pt-5.border-right.position-fixed.vh-100
        ul.nav.flex-column
          li.nav-item
            a.nav-link.text-secondary(href='#mission') The Mission
          li.nav-item
            a.nav-link.text-secondary(href='#grid') The Grid
          li.nav-item
            a.nav-link.text-secondary(href='#flightLog') Flight Log
          li.nav-item
            a.nav-link.text-secondary(href='#requirements') Requirement Examples
            ul.nav.flex-column.ml-3
              li.nav-item
                a.nav-link(href="#exampleHolds") holds
              li.nav-item
                a.nav-link(href="#exampleNext") next
              li.nav-item
                a.nav-link(href="#exampleAlways") always
              li.nav-item
                a.nav-link(href="#exampleSometime") eventually
          li.nav-item
            button.btn.btn-lg.btn-outline-dark.mt-5(type='button', data-toggle='modal', data-target='#tryIt')
              | TrussLog Console

      //right col
      .col-sm-10(style="margin-left:200px;")
        .row
          .col-md-10.mx-auto.pt-5.text-center
            h1 Quickstart
            p We will use a simple example to demonstrate how TrussLog works.
        //mission
        .row
          .col-md-10.mx-auto.pt-5(id="mission")
            h2 The Mission
            p
              | A drone has just returned from a surveillance mission
              | to take photos of a nuclear facility.
            p
              | <i>Note</i>. This is a contrived example for illustrative purposes.
        //grid
        .row
          .col-md-10.mx-auto.pt-3(id="grid")
            h2 The Grid
            p
              | The grid below shows the flight path of the drone along with areas of interest:
            ul
              li
                | The <strong>base</strong> where the drone took off from is at <i>(0,0)</i>. It's
                | flight path is shown by the dotted lines. The <i>numbers</i> in the grid cells represent the time
                | points at which the drone was in that grid. Multiple time points are separated by commas.
                | Numbers in brackets, eg.<i>(d=2.3), </i> in some cells show the distance from base.
              li
                | The <strong>green</strong> shaded area around the base represents the area within which
                | it is assumed to be safe for messages to be exchanged between the drone and base.
              li
                | There is a <strong>radar station</strong> at (3,3). However, the drone is not aware of its location initially.
              li
                | The <strong>red</strong> shaded oval around the radar represents cells that are within its detection range.
                | The drone is detected whenever it is in a red cell.
              li
                | The <strong>nuclear facility</strong> is located at (5,5).
              li
                | There is a <strong>mountain</strong> range at (2,5)
        //image
        .row.pt-3
          .col-md-8.mx-auto
            img.img-fluid.w-100(src='images/trussLogGridExample.png', alt='Responsive image')
        //flight log
        .row.pt-5
          .col-md-10.mx-auto(id="flightLog")
            h2 Flight Log
            p
              | We assume the drone keeps track of the following properties are present in each log entry:
            ul
              li <strong>loc</strong> (location coordinates)
              li <strong>alt</strong> (altitude)
              li <strong>fuel</strong>
              li <strong>comms</strong> (comms. equipment on/off)
              li <strong>det</strong> (detected by enemy radar true/false)
              li <strong>camera</strong> (on/off)
              li <strong>jammer</strong> (radar jammer on/off)
              li <strong>msgRcvd</strong> (messge received from base true/false)
              li <strong>msgAck</strong> (message from base acknowledged true/false)
            p
              | The important events in this example are:
            ul
              li Leaving base at timepoint <strong>0</strong>
              li Return to  base at timepoint <strong>23</strong>
              li Detected by the radar at timepoints <strong>4</strong>,<strong>5</strong> and <strong>8</strong>
              li Over nuclear facility at timepoints <strong>12</strong> and <strong>13</strong>
              li Passes the mountain range at timepoints <strong>16</strong>
            p
              | View the complete log file by clicking on the
              span.btn-outline-dark.btn.btn-sm.mx-2
                | TrussLog Console
              | button on the left.
            p
              | The log file that we are going to work with is loaded by default
              | and  should appear in the <strong>log file</strong> panel. If not, please click inside the panel.
        //
        //req1 holds
        //
        .row
          .col-md-10.mx-auto.pt-5(id="requirements")
            h2 Requirements
            p
              | Requirements are specified using the <code>req</code> keyword.
              | This is followed by a </i>name</> for the requirement,
              | the <i>priority level</i> and the conditions that we are testing for.
              | There are 3 priority levels: <code>critical</code>, <code>high</code>
              | and <code>medium</code>.
        .row
          .col-md-10.mx-auto.pt-5(id="exampleHolds")
            h3.text-success A. holds
            p
              | We begin by introducing the <code>holds</code> operator.
              | It is a special temporal operator for checking whether things
              | hold at particular instants of time. It is not a standard temporal operator of
              | linear-time temporal logic (LTL) but it is is useful in the context of analyzing log files.
              | Moreover, the standard temporal operators we will see shortly are implemented by using <code>holds</code>
            //example 1
            .jumbotron
              p
                strong Example 1
                pre holds(..)
                | We start with a simple requirement shown below. It is signified by the <code>req</code> keyword.
              p
                code
                  pre(style="color:#e83e8c")
                    | req(test1,critical,
                    |    holds(0, val(fuel, 50))
                    | ).
              p
                | The first two arguments are a name for the requirement (<code>test1</code>) and
                | it's priority level (<code>critical</code>).
                | The last argument is a temporal operator (<code>holds</code>) followed by the property
                | and value we would like to apply the temopral operator to.
              p
                | In this case, we are checking whether it is true that at timepoint (<i>0</i>) the fuel is 50.
              p
                | Copy and paste the code above in the <strong>requirements</strong> panel of the console
                | and click <strong>analyse</strong>. Results are shown in the <strong>results</strong> panel.
              p
                | There is also bar chart to visually represent how many requirements have been met or failed.
                | It is grouped according to the priority level.
              p
                | TrussLog starts by reading the log file and the checking the requirements.
                | The output should say:
              p
                code
                  |Checking test1
              p Followed by the result:
              p
                code
                  | RESULT: test1, critical, 1
              p
                | In between, you will step the steps taken for checking the requirement.
                | Since the fuel at timepoint <i>1</i> is <i>50</i>, the result is <i>1</i>, which stands for true.
              div.border.rounded.p-4.border-dark
                h3.badge.badge-primary Bar Chart
                br
                | Paste the following into the requirements panel
                | to get an idea of what the bar chart will look like when there are many requirements.
                code
                  br
                  | req(test1,critical,holds(0, val(fuel, 40))).
                  br
                  | req(test2,critical,holds(0, val(fuel, 50))).
                  br
                  | req(test3,critical,holds(0, val(fuel, 30))).
                  br
                  | req(test4,critical,holds(0, val(fuel, 50))).
                  br
                  | req(test5,high,holds(0, val(fuel, 50))).
                  br
                  | req(test6,high,holds(0, val(fuel, 10))).
                  br
                  | req(test7,high,holds(0, val(fuel, 10))).
                  br
                  | req(test8,high,holds(0, val(fuel, 10))).
                  br
                  | req(test8,normal,holds(0, val(fuel, 50))).
                  br
                  | req(test9,normal,holds(0, val(fuel, 50))).
                  br
                  | req(test10,normal,holds(0, val(fuel, 30))).

            //example 2
            .jumbotron
                p
                 strong Example 2
                 pre conjunction [.,.,.,.,.]
                 | Here we check whether two things holds together.
                 | Items inside <code>[...]</code> represent conjunction.
                 br
                 | Clear the requirements panel, paste the code below  and hit analyse.

                p
                 code
                   pre(style="color:#e83e8c")
                     | req(test2,critical,
                     |   [
                     |     holds(0, val(fuel, 50)),
                     |     holds(1, val(fuel, 48))
                     |   ]
                     |  ).
                 p We get:
                 p
                  code RESULT: test2, critical, 0
                 p
                  | This is because the value of fuel is <i>49</i> at time <i>1</i>.
                 p If we change the requirement to the following:
                 p
                  code
                    pre(style="color:#e83e8c")
                     | req(test3,critical,
                     |  [
                     |   holds(0, val(fuel, 50)),
                     |   holds(1, val(fuel, 49))
                     |  ]
                     | ).
                 p We get:
                 p
                  code
                    | RESULT: test3, critical, 1
            //example
            .jumbotron
               p
                strong Example 3
                pre or(.,.)
                | We check whether one of two things hold or not.
               p
                code
                  pre(style="color:#e83e8c")
                    | req(test4,critical,
                    |   or(
                    |     holds(0, val(fuel, 50)),
                    |     holds(1, val(fuel, 49))
                    |   )
                    | ).


                p We get:
                p
                  code
                    | RESULT: test3, critical, 1
                p This is because the first item inside <code>or</code> is true.
            //example
            .jumbotron
              p
               strong Example 4
               pre nesting logical operators
               | Logical operators like <code>[...]</code> and <code>(.,.)</code>
               | can be nested. In this example,  <code>[...]</code> is the main operator.
              p
               code
                 pre(style="color:#e83e8c")
                  | req(test5,critical,
                  |   [
                  |    holds(0, val(fuel, 50)),
                  |    or(
                  |       holds(1, val(fuel, 48)),
                  |       holds(1, val(fuel, 49))
                  |    )
                  |   ]
                  | ).

               p We get:
               p
                 code
                   | RESULT: test5, critical, 1
            //example
            .jumbotron
              p
               strong Example 5
               pre range(.,.)
               | In all the previous examples, we tested only for a specify value using the <code>val</code> keyword.
               | We can also test whether a property has assumes a value in a given range using the <code>range</code>
               | operator.
              p Here, we are checking whether at timepoint <i>1</i>, the altitude is between <i>30</i> and <i>50</i>.
              p Note: The lower and upper bounds are inclusive.
              p
               code
                 pre(style="color:#e83e8c")
                  | req(test9, critical,
                  |   holds(1, range(alt, 30, 50))
                  | ).

               p We get:
               p
                 code
                   | RESULT: test9, critical, 1
            //example
            .jumbotron
             p
              strong Example 6
              pre range(.,.,.) for locations
              | This is an overloaded range operator to deal with distance from a particular location.
             p Here, we are checking whether at timepoint <i>16</i>, the drone within a distance of <i>5</i> units from base.
             p Note: The actual distance is <i>5.38</i>.
             p
              code
                pre(style="color:#e83e8c")
                  | req(test10, critical,
                  |   holds(16, range(loc, 0, 0, 5))
                  | ).
              p We get:
              p
                code
                  | RESULT: test10, critical, 0
        //
        // next
        //
        .row
          .col-md-10.mx-auto.pt-5(id="exampleNext")
            h3.text-success B. next
            p
              | The <code>next</code> operator is a standard temporal logic operator.
              | It specifies what must be true in the next timepoint.
            p
              | It takes two arguments/formulas, <code>next(F1, F2)</code>,
              | and we interpret it as: if at <code>F1</code> holds
              | at some timepoint, then <code>F2</code> must hold in the next timepoint.
            //example 1
            .jumbotron
              p
                strong Example 7
                pre next(F1, F2)
              p
                | Assume one of the requirments is that whenever the drone has been
                | detected by enemy radar (which we take the drone knows),
                | then it must turn off it's communications equipment in the next timepoint.
              p
                | This requirement is specified as:
                code
                  pre(style="color:#e83e8c")
                    | req(test11, critical,
                    |  next(
                    |     val(det, true),
                    |     val(comms, off)
                    |   )
                    | ).
              p
                | Verify from the log file that the drone is detected at timepoints
                |  <i>4</i>, <i>5</i> and  <i>8</i>. In order to satisfy the requirement,
                | <i>comms</i> should be <i>off</i> at timepoints <i>5</i>, <i>6</i> and  <i>9</i>.
                | As this is the case, we get the following result:
              p
                code RESULT: test11, critical, 1
            //example
            .jumbotron
              p
                strong Example 8
                pre next(F1, F2)
              p
                | We can also have more complex expressions by using logical operators.
                | For instance, the requirement below says that whenever the drone
                | is within the safe communications area (green area) and it
                | receives a message from base, then it must acknowledge the message
                | in in the next timepoint.
              p
                code
                  pre(style="color:#e83e8c")
                    | req(test12, critical,
                    |  next(
                    |   [range(loc,0,0,2), val(msgRcvd,true)],
                    |   val(msgAck, true)
                    |  )
                    |).
            //example
            //example 1
            .jumbotron
              p
                strong Example 9
                pre nested next(F1, F2)
              p
                | We can even nest <code>next</code> operators.
                | The special value <i>true</i> holds in any timepoint.
              p
                | For instance,
                code
                  pre(style="color:#e83e8c")
                    | req(test15, critical,
                    |   next(
                    |     val(det, true),
                    |     next(
                    |        true,
                    |        val(det, false)
                    |     )
                    |   )
                    | ).
              p
                | We may read the requirement as follows
                | as saying if a drone is detected in at any timepoint, then
                | it must become undetected two timepoints later.
              p
                | As before, the drone is detected at <i>4,5,8</i>.
                | The next timepoints are <i>5,6,9</i> where true holds.
                | The next timepoints of these states are <i>6,7,10</i> in all
                | of which the drone is not detected. Hence, the following result:
              p
                code RESULT: test15, critical, 1
        //
        // always
        //
        .row
          .col-md-10.mx-auto.pt-5(id="exampleAlways")
            h3.text-success C. always
            p
              | The <code>always</code> operator is also a standard temporal logic operator.
              | It specifies what must always be true.
            p
              | It takes two arguments/formulas, <code>always(F1, F2)</code>,
              | and we interpret it as: if at <code>F1</code> holds
              | at some timepoint, then <code>F2</code> must hold in this timepoint and all future timepoints.
            //example 1
            .jumbotron
              p
                strong Example 10
                pre always(F1, F2)
              p
                | Assume that one of the requirements is that the fuel level of the
                | drone should always be between <i>40</i> and <i>50</i>.
                | It can be stated as the following requirement:
              p
                code
                  pre(style="color:#e83e8c")
                    | req(test16, critical,
                    |  always(
                    |     true,
                    |     range(fuel, 40, 50 )
                    |   )
                    | ).
              p
                code RESULT: test16, critical, 0
              p
                | This test fails because by timepoint <i>11</i>, the fuel level is at <i>39</i>.
                | If we change the lower range to <i>28</i>, it should hold for all time points.
            //example
            .jumbotron
              p
                strong Example 11
                pre complex temporal formulas
              p
                | We can also have requirements that mix standard temporal operators.
                | Below, we are specifying the requirement that once the drone has
                | reached the mountain range at <i>(2,5)</i>, all messages that it
                | receives should be acknowledged in the next timepoint.
                | We use the <code>always</code> and <code>next</code> operators.
              p
                code
                  pre(style="color:#e83e8c")
                    | req(test21,critical,
                    |  always(
                    |   val(loc,2,5),
                    |   next(
                    |    val(msgRcvd,true),
                    |    val(msgAck,true)
                    |   )
                    |  )
                    | ).
              p
                | There are two timepoints <i>17, 20</i> after reaching the mountain range
                | where messages are received from base. The messages are acknowledged in
                | timepoints <i>18,21</i>, hence the requirement is satisfied.
              p
                code always(val(loc,2,5),next(val(msgRcvd,true),val(msgAck,true))) -> 1
              p
               | If edit the log file and change msgAck to false in timepoint <i>18</i> or <i>21</i>, the
               | requirement should fail.


        //
        // eventually
        //
        .row
          .col-md-10.mx-auto.pt-5(id="exampleSometime")
            h3.text-success D. eventually
            p
              | The <code>eventually</code> operator is the last standard temporal logic operator we consider.
              | It specifies what must be true in the at some future timepoint.
            p
              | It takes two arguments/formulas, <code>eventually(F1, F2)</code>,
              | and we interpret it as: if at <code>F1</code> holds
              | at some timepoint, then <code>F2</code> must hold in the at some timepoint in the future.
            //example 1
            .jumbotron
              p
                strong Example 7
                pre sometime(F1, F2)
              p
                | For instance, assume that once the drone is flying over the nuclear facility (<i>(5,5)</i>),
                | it must make it to the mountain range at (<i>2,5</i>). We may test it as follows:
              p
                pre(style="color:#e83e8c")
                  | req(test16, critical,
                  |  eventually(
                  |    val(loc,5,5),
                  |    val(loc, 2, 5 )
                  |  )
                  |).
              p We get:
              p
                code eventually(val(loc,5,5),val(loc,2,5)) -> 1










  //modal
  #tryIt.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-xl(role='document')
      .modal-content
        .modal-header
          h5#exampleModalCenterTitle.modal-title TrussLog Console
        .modal-body
          .container-fluid
            .row
              .col-md-4
                .bg-dark.py-2.px-2
                  strong.text-warning.display-inline Log
                  small.text-secondary &nbsp; flight log details can be entered here
                form
                  .form-group
                    textarea#logsTextArea.form-control(rows='3')
                      | log(dfddf)
              .col-md-4
                .bg-dark.py-2.px-2
                  strong.text-warning.display-inline Requirements
                  small.text-secondary &nbsp; mission reqs can be entered here
                form
                  .form-group
                    textarea#missionTextArea.form-control(rows='3')
              .col-md-4
                .bg-dark.py-2.px-2
                  strong.text-warning.display-inline Results
                  small.text-secondary &nbsp;
                form
                  .form-group.bg-dark(style="height:400px")
                    textarea#resultsTextArea.form-control(rows='3')
                    br
                    span.btn.btn-outline-light#btnAnalyse.mx-2(style="width: 120px")
                      span Analyse
                      span.spinner-border.spinner-border-sm.collapse(role='status', aria-hidden='true')

                    span.btn.btn-outline-light#btnReload.mx-2(style="width: 120px")
                      span Reload
          .container-fluid#statsDiv
            .row
              hr
              .col-sm-6
                h4 Stats
                div#svgCanvas
              .col-sm-6.border.rounded.border-secondary.p-5#trustScoreDiv
                h5 Trust Score
                h5.text-warning#trustScore
                p
                  small
                    | The trust score is calculated by taking the weighted average
                    | of all the requirements. The weights are assigned according to the priority level:
                    ul
                      li <i>critical</i> 50%
                      li <i>high</i> 30%
                      li <i>normal</i> 20%
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Close


block jscript
  script.
    $(document).ready(function(){
      //make navlink active
      $("#navLinkQuickstart").addClass("active");

      //hide statsDiv
      $("#statsDiv").hide()

      //code here...
      var code = $("#logsTextArea")[0];
      var editorLog = CodeMirror.fromTextArea(code, {
        lineNumbers : false,
        theme: "material"
      });
      editorLog.setSize(null, 400)

      //mission reqs area
      var code = $("#missionTextArea")[0];
      var editorMission = CodeMirror.fromTextArea(code, {
        lineNumbers : false,
        theme: "material"
      });
      editorMission.setSize(null, 400)

      //results area
      var code = $("#resultsTextArea")[0];
      var editorResults = CodeMirror.fromTextArea(code, {
        theme: "material",
        readOnly: true
      });
      editorResults.setSize(null, 320)

      //load default data
      loadDefaultLog(editorLog)
      loadDefaultMissionSpecs(editorMission)

      //analyse
      $("#btnAnalyse").click(function(){
        $("#statsDiv").fadeOut()
        var spans = $(this).find("span")
        $(spans[0]).addClass("collapse")
        $(spans[1]).removeClass("collapse")
        analyseRequirements(editorLog, editorMission, editorResults);
      })

      //reload data
      $("#btnReload").click(function(){
        loadDefaultLog(editorLog)
        loadDefaultMissionSpecs(editorMission)
        editorResults.getDoc().setValue("")
      })


    });

    /*
    * Load Default Log Values
    */
    function loadDefaultLog(editorLog){
    var c = `
    log(0, [
      val(loc, 0, 0),
      val(alt, 50),
      val(fuel, 50),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(1, [
      val(loc, 0, 1),
      val(alt, 50),
      val(fuel, 49),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, true),
      val(msgAck, false)
    ]).

    log(2, [
      val(loc, 1, 1),
      val(alt, 50),
      val(fuel, 48),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(3, [
      val(loc, 2, 1),
      val(alt, 50),
      val(fuel, 47),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(4, [
      val(loc, 2, 2),
      val(alt, 50),
      val(fuel, 46),
      val(comms, on),
      val(det, true),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(5, [
      val(loc, 3, 2),
      val(alt, 40),
      val(fuel, 45),
      val(comms, off),
      val(det, true),
      val(camera, off),
      val(jammer, on),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(6, [
      val(loc, 3, 1),
      val(alt, 30),
      val(fuel, 44),
      val(comms, off),
      val(det, false),
      val(camera, off),
      val(jammer, on),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(7, [
      val(loc, 4, 1),
      val(alt, 40),
      val(fuel, 43),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(8, [
      val(loc, 4, 2),
      val(alt, 50),
      val(fuel, 42),
      val(comms, on),
      val(det, true),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(9, [
      val(loc, 5, 2),
      val(alt, 40),
      val(fuel, 41),
      val(comms, off),
      val(det, false),
      val(camera, off),
      val(jammer, on),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(10, [
      val(loc, 5, 3),
      val(alt, 50),
      val(fuel, 40),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(11, [
      val(loc, 5, 4),
      val(alt, 40),
      val(fuel, 39),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(12, [
      val(loc, 5, 5),
      val(alt, 40),
      val(fuel, 38),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(13, [
      val(loc, 5, 5),
      val(alt, 30),
      val(fuel, 37),
      val(comms, on),
      val(det, false),
      val(camera, on),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(14, [
      val(loc, 4, 5),
      val(alt, 40),
      val(fuel, 50),
      val(comms, on),
      val(det, false),
      val(camera, on),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(15, [
      val(loc, 3, 5),
      val(alt, 50),
      val(fuel, 36),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(16, [
      val(loc, 2, 5),
      val(alt, 50),
      val(fuel, 35),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(17, [
      val(loc, 1, 5),
      val(alt, 50),
      val(fuel, 34),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, true),
      val(msgAck, false)
    ]).

    log(18, [
      val(loc, 1, 4),
      val(alt, 50),
      val(fuel, 33),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, true)
    ]).

    log(19, [
      val(loc, 1, 3),
      val(alt, 50),
      val(fuel, 32),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(20, [
      val(loc, 1, 2),
      val(alt, 50),
      val(fuel, 31),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, true),
      val(msgAck, false)
    ]).

    log(21, [
      val(loc, 0, 2),
      val(alt, 50),
      val(fuel, 30),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, true)
    ]).

    log(22, [
      val(loc, 0, 1),
      val(alt, 50),
      val(fuel, 29),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).

    log(23, [
      val(loc, 0, 0),
      val(alt, 50),
      val(fuel, 28),
      val(comms, on),
      val(det, false),
      val(camera, off),
      val(jammer, off),
      val(msgRcvd, false),
      val(msgAck, false)
    ]).`

      editorLog.getDoc().setValue(c)
    }


    /*
    * Load Default Mission Reqs
    */
    function loadDefaultMissionSpecs(editorMission){
    var c = ``

      editorMission.getDoc().setValue(c)
    }


    /*
    * Analyse
    */

    function analyseRequirements(editorLog, editorMission, editorResults){
      var regex = /[\s]/g

      var log = editorLog.getDoc().getValue();
      log = log.replace(regex,"")

      var mission = editorMission.getDoc().getValue();
      mission = mission.replace(regex,"")

      //space after .
      regex = /[.]/g
      log = log.replace(regex,". ")
      mission = mission.replace(regex,". ")


      var data = {
        log: log,
        mission: mission
      }

      //send ajax request
      $.ajax({
            type: "POST", //rest Type
            dataType: 'json',
            data: JSON.stringify(data),
            url: "/analyze",
            contentType: "application/json; charset=utf-8",
            success: function (result, status) {
                //gui update
                var spans = $("#btnAnalyse").find("span")
                $(spans[0]).removeClass("collapse")
                $(spans[1]).addClass("collapse")

                editorResults.getDoc().setValue(result.data)

                prepareGraph(editorResults.getDoc().getValue())
            },
            error: function(xhr, textStatus, errorThrown) {
              alert(textStatus)
            }
      });

    }


    function prepareGraph(output){

      var regexStart = /\{/gi;
      var regexEnd = /\}/gi
      var result, indicesStart = [], indicesEnd=[];
      //find start of results
      while ( (result = regexStart.exec(output)) ) {
          indicesStart.push(result.index);
      }
      //find end of results
      while ( (result = regexEnd.exec(output)) ) {
          indicesEnd.push(result.index);
      }

      //parse
      //critical stat
      var criticalStat ={
          "categorie": "Critical",
          "values": [
              {
                  "value": 0,
                  "rate": "Pass"
              },
              {
                "value": 0,
                  "rate": "Fail"
              }
          ]
      }
      //high stat
      var highStat ={
          "categorie": "High",
          "values": [
              {
                  "value": 0,
                  "rate": "Pass"
              },
              {
                "value": 0,
                  "rate": "Fail"
              }
          ]
      }
      //normal
      var normalStat ={
          "categorie": "Normal",
          "values": [
              {
                  "value": 0,
                  "rate": "Pass"
              },
              {
                "value": 0,
                  "rate": "Fail"
              }
          ]
      }
      indicesStart.forEach(function(item,i){
        var temp = output.substring(item,indicesEnd[i]+1)
        var result = JSON.parse(temp)
        switch (result.priority){
          case "critical":
            if (result.result == 1){
              criticalStat.values[0].value = criticalStat.values[0].value + 1
            } else {
              criticalStat.values[1].value = criticalStat.values[1].value + 1
            }
            break;
          case "high":
            if (result.result == 1){

              highStat.values[0].value = highStat.values[0].value + 1
            } else {
              highStat.values[1].value = highStat.values[1].value + 1
            }
            break;
          case "normal":
            if (result.result == 1){
              normalStat.values[0].value = normalStat.values[0].value + 1
            } else {
              normalStat.values[1].value = normalStat.values[1].value + 1
            }
            break;
          default:break;
        }
      })

      var stats = [criticalStat, highStat, normalStat]
      drawGraph(stats)
      calculateTrustScore(stats)
      $("#statsDiv").fadeIn()


    }
    /*
    *
    */
    function drawGraph(data){
        //clear canvas
        $("#svgCanvas").html("")

        var margin = {top: 20, right: 20, bottom: 30, left: 40},
          width = 400 - margin.left - margin.right,
          height = 300 - margin.top - margin.bottom;

        var x0 = d3.scale.ordinal()
          .rangeRoundBands([0, width-50], .1);

        var x1 = d3.scale.ordinal();

        var y = d3.scale.linear()
          .range([height+50, 0]);

        var xAxis = d3.svg.axis()
          .scale(x0)
          .tickSize(0)
          .orient("bottom");

        var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left");

        var color = d3.scale.ordinal()
          .range(["#00ff00","#ff0000","#d5d5d5","#92c5de","#0571b0"]);

        var svg = d3.select('#svgCanvas').append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


            var categoriesNames = data.map(function(d) {return d.categorie; });
            var rateNames = data[0].values.map(function(d) { return d.rate; });
            x0.domain(categoriesNames);
            x1.domain(rateNames).rangeRoundBands([0, x0.rangeBand()]);
            y.domain([0, d3.max(data, function(categorie) { return d3.max(categorie.values , function(d) { return d.value; }); }) + 2]);

            svg.append("g")
                .data(data)
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            svg.append("g")
                .attr("class", "y axis")
                .style('opacity','0')
                .call(yAxis)
            .append("text")
                .attr("transform", "rotate(-90)")
                .attr("y", 6)
                .attr("dy", ".71em")
                .style("text-anchor", "end")
                .style('font-weight','bold')
                .text("Count");

            svg.select('.y').transition().duration(500).delay(1300).style('opacity','1');

            var slice = svg.selectAll(".slice")
                .data(data)
                .enter().append("g")
                .attr("class", "g")
                .attr("transform",function(d) { return "translate(" + x0(d.categorie) + ",0)"; });

            slice.selectAll("rect")
                .data(function(d) { return d.values; })
            .enter().append("rect")
                .attr("width", x1.rangeBand())
                .attr("x", function(d) { return x1(d.rate); })
                .style("fill", function(d) { return color(d.rate) })
                .attr("y", function(d) { return y(0); })
                .attr("height", function(d) { return height - y(0); })
                .on("mouseover", function(d) {
                    d3.select(this).style("fill", d3.rgb(color(d.rate)).darker(2));
                })
                .on("mouseout", function(d) {
                    d3.select(this).style("fill", color(d.rate));
                });

            slice.selectAll("rect")
                .transition()
                .delay(function (d) {return Math.random()*1000;})
                .duration(1000)
                .attr("y", function(d) { return y(d.value); })
                .attr("height", function(d) { return height - y(d.value); });

            //Legend
            var legend = svg.selectAll(".legend")
                .data(data[0].values.map(function(d) { return d.rate; }).reverse())
            .enter().append("g")
                .attr("class", "legend")
                .attr("transform", function(d,i) { return "translate(0," + i * 20 + ")"; })
                .style("opacity","0");

            legend.append("rect")
                .attr("x", width - 18)
                .attr("width", 18)
                .attr("height", 18)
                .style("fill", function(d) { return color(d); });

            legend.append("text")
                .attr("x", width - 24)
                .attr("y", 9)
                .attr("dy", ".35em")
                .style("text-anchor", "end")
                .text(function(d) {return d; });

            legend.transition().duration(500).delay(function(d,i){ return 1300 + 100 * i; }).style("opacity","1");

    }


    /*
    *
    */
    function calculateTrustScore(stats){
      var criticalSum = stats[0].values[0].value + stats[0].values[1].value
      var criticalScore = 0
      if (criticalSum != 0){
        criticalScore = (stats[0].values[0].value * 0.5)
      }

      var highSum = stats[1].values[0].value + stats[1].values[1].value
      var highScore = 0
      if (highSum != 0){
        highScore = (stats[1].values[0].value * 0.3)
      }

      var normalSum = stats[2].values[0].value + stats[2].values[1].value
      var normalScore = 0
      if (normalSum != 0){
        normalScore = (stats[2].values[0].value * 0.3)
      }
      //show score
      var totalSum = criticalSum * 0.5 + highSum * 0.3  + normalSum * 0.2
      var totalScore = criticalScore + highScore + normalScore
      var trustScore = (totalScore/totalSum).toFixed(2)
      $("#trustScore").html(trustScore)

    }
